%p
  %a{:href => "http://blog.swi.ms/post/8076606620/what-happens-on-swi-ms-stays-on-swi-ms-a-privacy"} 
    Privacy Policy

%p
  %fb:like{:action => "like", :href => "http://swi.ms", :send => "false", :show_faces => "true", :width => "450"}

:javascript
  var session;
  window.fbAsyncInit = function() {
    FB.init({appId: '127537457338214', status: true, cookie: true,
             xfbml: true});
    FB.getLoginStatus(function(response) {
      if (response.authResponse) {
        session = response;
      } else {
        session = FB.getSession();

        // access_token:
        // secret: 
        // session_key: 
        // sig: 
        // uid: 

      }
      if( session ) {
        console.log( "You are logged in as: " + session.uid );
      } else {
        console.log( "You are NOT logged in." );
      }
    });
  };

  (function() {
    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());


:javascript
  //google analytics
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24760342-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
