%head
  %link{:href => "http://fonts.googleapis.com/css?family=Paytone+One|Ubuntu", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "/stylesheets/theme.css", :rel => "stylesheet", :type => "text/css"}
  %title swi.ms
  
