#main

  #mission
    %p Our mission:
    %p 1. To help you be the best swimmer you can be.
    %p 2. To help your community support swimming for everyone.

  %p Sign in to claim your swi.ms username and get your first tip:

  %p
    %fb:login-button{:autologoutlink => "true"}
    / perms="user_checkins,offline_access,user_about_me"

