#main

  #mission
    %p Our mission:
    %p 1. To help you be the best swimmer you can be.
    %p 2. To help your community support swimming for everyone.

  %p Sign in to claim your swi.ms username and get your first tip:

  %p
    %fb:login-button{:autologoutlink => "true"}
    / perms="user_checkins,offline_access,user_about_me"

  %p
    %fb:like

  #fb-root
    / a hotel room for facebook 

  :javascript
    var session;
    window.fbAsyncInit = function() {
      FB.init({appId: '127537457338214', status: true, cookie: true,
               xfbml: true});
      FB.getLoginStatus(function(response) {
        if (response.authResponse) {
          session = response;
        } else {
          session = FB.getSession();

          // access_token
          // base_domain: "swi.ms"
          // secret: "51VKKPmiydYO0kHc9J4tdg__"
          // session_key: "2.AQD02xgQZDDeB_a0.3600.1313280000.1-622016185"
          // sig: "38e8c51e206873e9d8e21f133e20c967"
          // uid: "622016185"

        }
        alert( session.uid );
      });
    };

    (function() {
      var e = document.createElement('script');
      e.type = 'text/javascript';
      e.src = document.location.protocol +
        '//connect.facebook.net/en_US/all.js';
      e.async = true;
      document.getElementById('fb-root').appendChild(e);
    }());
