!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  =partial 'header'

  %body
    %h1 swi.ms
    %h2 The first great app for swimmers.
  
    %p
      %fb:login-button{:autologoutlink => "true"}
      / perms="user_checkins,offline_access,user_about_me"

      #fb-root
        / a hotel room for facebook
        
    =yield
  
    =partial 'footer'