!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  =partial 'header'

  %body
    %h1 swi.ms
    %h2 The first great app for swimmers.
  
    =yield
  
    =partial 'footer'