h1 { 
  font-family: 'Paytone One', sans-serif; 
  font-weight: 400; 
  font-size: 80px; 
  line-height: 50px; 
  margin: 50px 0 0; 
}

* { 
  font-family: 'Ubuntu', sans-serif; 
}

#mission { 
  margin:50px auto 50px auto;
  text-align:left;
  width:600px;
}

#main {
  width:700px;
  margin:0 auto;
}

.box {
  margin: 50px auto 0 auto;
  height: 200px;
  width: 450px;
}

.icon {
  height: 64px;
  width: 64px;
  margin: 0 10px 0 0;
  display: block;
  float: left;
  background-image: url(/images/favorite-strokes-sprite.png);
}

#freestyle    { background-position:   0px   0px; }
#backstroke   { background-position: 128px   0px; }
#floating     { background-position:  64px   0px; }
#breaststroke { background-position:   0px  64px; }
#butterfly    { background-position: -64px  64px; }
#dogpaddle    { background-position:  64px  64px; }
